
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url(taj.jpg);
    background-size: cover%;
    background-position: center;
    box-sizing: border-box;
    font-family:sans-serif;
}
.menu-bar{
    background: rgb(100,0,0);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar li a{
    text-decoration: none;
    color: white;
}
.active,.menu-bar li:hover{
    background: violet;
    border-radius: 3px;
}
.menu-bar .fa{
    margin-right:8px;
}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:rgb(0,0,100);
    margin-top:15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1{
    width:150px;
    padding:10px;
    border-bottom:1px ;
    background:transparent;
    border-radius:0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1{
    color:green;
}
@media(min-width:1200px){
 .menu-bar ul li:hover .sub-menu-1   
}
@media(min-width:800px)and(max-width:1199){
    .menu-bar ul li:hover .sub-menu-1
}